body {
    background-image: url('../../src-modernize/assets/images/interworks/wallpaper2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.col-md-6 {
    max-width: 100%; /* Asegura que el contenido no exceda el 100% del ancho del viewport */
}

.custom-card {
    background-color: #e9ecef;
    width: calc(700px + 100px); /* 700px + 100px de cada lado */
    max-width: 100%; /* Asegura que la tarjeta no exceda el 100% del ancho del viewport */
}

.custom-card-body {
    background-color: #ffffff;
    padding: 20px; /* Añade relleno para mantener el contenido alejado de los bordes */
}

.custom-card-text {
    color: #000000;
}

.custom-card-body h4 {
    margin-bottom: 20px;
}
